name: CI

on:
  push:
    branches: [ "main" , "new-pipeline"]
  pull_request:
    branches: [ "main" , "new-pipeline"]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4
          - name: Setup Node
            uses: actions/setup-node@v4
            with:
                node-version: '20'
                cache: "npm"

          - name: Install dependencies
            run: npm ci
          - name: Lint
            run: npm run lint --if-present

    test:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses : actions/checkout@v4
          - name: Node Setup
            uses : actions/setup-node@v4
            with:
                node-version: '20'
                cache: "npm"
          - name: Install dependencies
            run: npm ci
          - name: Test
            run: npm test --if-present
